body {
  font-family: "Roboto", Helvetica, sans-serif;
  padding-left: 30px;
}

textarea {
  display: block;
  margin: 20px 0;
}

button {
  display: block;
  margin: 20px 0;
  background-color: #000;
  font-size: 1em;
  color: #fff;
  border: none;
  outline: none;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
}

#result {
  margin-top: 30px;
}